body{
    background: linear-gradient(to right, #185a9d, #43cea2);
}
#login, #registro{
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    opacity: 80%;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
}
#link, #salir{
    text-align: right;
}